.button-navigation-bar {
    -fx-border-radius: 20px;
    -fx-padding: 10px;
    -fx-text-fill: #ffff;
    -fx-background-color: none;
    -fx-border-color: #ffff;
}

.button-section {
    /*-fx-border-radius: 20px;*/
    -fx-padding: 10px;
    -fx-text-fill: #ffff;
    -fx-background-color: #1700e1;
    -fx-border-color: #1700e1;
}

.button-navigation-bar, .button-section {
    -fx-cursor: hand;
}

.button-section:pressed {
    -fx-background-color: #0b0259;
}

.button-navigation-bar:pressed {
    -fx-background-color: #0b0259;
    -fx-background-radius: 20px;
}