.button-top {
    -fx-background-color: #1700e1;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button-top:hover {
    -fx-font-size: 12px;
}

.item-top-bar {
    -fx-pref-height: 30px;
}

#tfPesquisar {
    -fx-background-color: none;
    -fx-border-style: hidden hidden solid hidden ;
    -fx-border-color: #1700e1;
}

.table-view {
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}


.table-view .table-row-cell {
    -fx-border-width: 0;
}

.table-view .table-cell {
    -fx-padding: 5px;
    -fx-alignment: center-left;
    -fx-wrap-text: true;
    -fx-border-width: 0;
}

.table-row-cell:odd, .table-row-cell:even {
    -fx-background-color: transparent; /* Remove cor de fundo das linhas ímpares */
}

.table-view .column-header .label {
    -fx-padding: 5px;
    -fx-alignment: center-left;
}

.table-view .table-row-cell:filled:selected {
    -fx-background-color: #0096C9;
}
